<%= form_with(model: video, class: "contents") do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-[140px_auto] gap-8 my-8">
    <%= form.label :channel do %>
      <%= t('video.form.channel') %>
    <% end %>
    <%= form.select :channel_id, @channels.collect { [_1.name, _1.id] }, {}, { class: 'text-neutral-950' } %>

    <%= form.label :name do %>
      <%= t('video.form.name') %>
    <% end %>
    <%= form.text_field :name, class: 'text-neutral-950' %>

    <%= form.label :description do %>
      <%= t('video.form.description') %>
    <% end %>
    <%= form.text_area :description, class: 'text-neutral-950' %>

    <%= form.label :source_video do %>
      <%= t('video.form.source_video') %>
    <% end %>
    <%= form.file_field :source_video %>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>
<% end %>
