<!DOCTYPE html>
<html>
  <head>
    <title>µtube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-900 text-slate-50">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header class="w-full text-center text-xl py-2">
      µtube
    </header>
    <ul class="flex justify-center gap-2">
      <li>
        <%= link_to t('nav.videos'), videos_path %>
      </li>
      <li>
        <%= link_to t('nav.channels'), channels_path %>
      </li>
    </ul>
    <main class="container mx-auto my-12 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
